.THIS #topnav {
	width: 75%;
    height: 33px;
    text-align: center;
    background: #FF9800;
    display: inline;
}

.THIS #menu {
    margin: 0;
    padding: 0;
}

.THIS ul {
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.THIS ul li {
    list-style: none;
    display: inline;
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
}


.THIS ul li a {
    display: block;
    float: left;
    padding: 1em 1.5em;
    background-color: #fff;
    color: #8a1300;
    text-transform: uppercase;
    text-decoration: none;
}